<div class="card">
    <img class="card-img-top" src="{{product.image}}" alt="{{product.title}}" />
    <div class="card-body">
        <h5 class="card-title">
            {{product.title}}
            <span class="badge bg-secondary">{{product.category}}</span>
        </h5>
        <p class="card-text">{{product.description}}</p>    
        <div class="card-footer">
            <div>
                Preço: <strong>$ {{product.price | number:'1.2-2'}}</strong>
                @if (cotacaoAtual != null)
                {
                    <span class="cotacao">&nbsp; em cotação: <strong>{{valorConvertido | number:'1.2-2'}}</strong></span>
                }
            </div>
            @if (onSelecionar.observed)
            {
                <button class="btn btn-sm btn-primary" (click)="handleSelecionar()">Selecionar</button>
            }
            @else
            {
                <button class="btn btn-sm btn-primary" (click)="handleEditar()">Editar</button>
                <button class="btn btn-sm btn-danger" (click)="handleExcluir()">Excluir</button>
            }
        </div>
    </div>
</div>