<h1>Carrinhos de Compras</h1>
<p>Lista de carrinhos cadastrados no sistema</p>

<button class="btn btn-success me-1">Atualizar Lista</button>
<button class="btn btn-primary">Novo Carrinho</button>

<table class="table">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Produtos</th>
      <th>Quantidades</th>
      <th>Valor Total (USD$)</th>
      <th>Valor Total ()</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @let carrinhos = carrinhos$ | async;
    @if (carrinhos){
      @for (carrinho of carrinhos; track carrinho.dados.id) {
        <tr carrinhos-list-item-view [carrinho]="carrinho"></tr>
      }
    }
    @else {
      <tr>
        <td colspan="5">Carregando compras...</td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-end">
          TOTAL:
      </td>
      <td>{{total$ | async | number : "1.2-2"}}</td>
      <td>0</td>
      <td></td>
    </tr>
  </tfoot>
</table>